<label class="statement">{{ question }}</label>
<ul class="likert">
  <li>
    <input type="radio" [name]="groupName" value="strongly_agree">
    <label>5</label>
  </li>
  <li>
    <input type="radio" [name]="groupName" value="agree">
    <label>4</label>
  </li>
  <li>
    <input type="radio" [name]="groupName" value="slightly-agree">
    <label>3</label>
  </li>
  <li>
    <input type="radio" [name]="groupName" value="slightly-disagree">
    <label>2</label>
  </li>
  <li>
    <input type="radio" [name]="groupName" value="disagree">
    <label>1</label>
  </li>
  <li>
    <input type="radio" [name]="groupName" value="strongly_disagree">
    <label>0</label>
  </li>
</ul>
