/* .chatbot-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
} */

.chatbot-container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
  height: 100vh;
  margin-top: 150px;
}

.chatbot-container .scale-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatbot-container .scale-intro #scale-intro-nums p {
  margin: 2px;
  text-align: center;
}

.chatbot-container form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.chatbot-container form .questions {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.chatbot-container form .questions .q1-5 app-likert{
  row-gap: 50px;
}

.chatbot-container form .buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.chatbot-container form .buttons button {
  border-radius: 30px;
  height: 50px;
  width: 150px;
  margin-top: 20px;
}

.chatbot-container .demo-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatbot-container .demo-page video {
  height: 80%;
  width: 80%;
}

/* .chatbot-container .demo-page .demo-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.chatbot-container .demo-page .demo-images img {
  align-self: center;
  height:65%;
  width:65%;
  margin-top: 50px;
} */

.chatbot-container .done-chat {
  padding-bottom: 30px;
}
.chatbot-container .done-chat button {
  border-radius: 30px;
  height: 50px;
  width: 150px;
  margin-top: 20px;
}


.chatbot-container .thank-you-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}

.chatbot-container .thank-you-page button{
  width: 150px;
  height: 50px;
  border-radius: 30px;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}