/* .chatbot-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
} */

.chatbot-container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
  height: 100vh;
  margin-top: 150px;
}

.chatbot-container .scale-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatbot-container .scale-intro #scale-intro-nums p {
  margin: 2px;
  text-align: center;
}

.chatbot-container form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;

}

.chatbot-container form .questions {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.chatbot-container form .questions .q1-5 app-likert{
  row-gap: 50px;
}

.chatbot-container form .buttons {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  justify-content: right;
}

.chatbot-container .video-page {
  display: flex;
  flex-direction: column;
}
