<div class="resources-container urbanist-regular">

    <!-- <pre style="width:70%; text-wrap:wrap;"> 
        Grief is a deeply personal and complex emotion 
        Many people have limited access to grief support, particularly for college students aged 18-24, who may struggle with financial barriers, long wait times for counseling, and a lack of accessible mental health resources tailored to their needs
    
        Cultural stigmas around mental health create barriers
    
        Our chatbot provides accessible, tailored emotional support

    </pre>
     -->
    <div class="background-significance">
        <h1> Background and Significance </h1>
        <hr>
        <p> We understand that grief is a deeply personal and complex emotion.
            Many people have limited access to grief support, particularly for college students aged 18-24,
            who may struggle with financial barriers, long wait times for counseling, and a lack of accessible
            mental health resources tailored to their needs.
            Cultural stigmas around mental health create barriers.
            To help mitigate this, <strong style="color:rgba(77, 82, 77, 0.847);"> LUMINA AI </strong>
            provides accessible, tailored emotional support.
        </p>
    </div>

    <div class="implementation">
        <h1> Creation of Lumina AI </h1>
        <hr>
        <p>
            Based on the findings below, we designed our chatbot model to <strong style="color: rgba(77, 82, 77, 0.759);"> focus on emotional adaptability </strong> 
            rather than pure conversation simulation. 
            We incorporated a
            <em> 
                <u> 
                    <a href="/chatbot" routerLink="/resources" routerLinkActive="active-link"> 
                        pre-chat assessment 
                    </a> 
                </u> 
            </em> 
            
            to determine the user's grief type and emotional state, allowing the AI to adjust its responses accordingly.
            Additionally, we decided to implement a resource hub within the chatbot to provide 
            <strong style="color: rgba(77, 82, 77, 0.759);"> 
                external mental health support 
            </strong> 
            for students who may need more than just AI-driven assistance. 
            Follow-up interviews with select survey respondents provided further insights, 
            helping us refine the chatbot's tone, response structure, and feature set. 
            In essence, we evolved our design into a more interactive, emotionally responsive model 
            that adapts to the user's unique grief journey. 
            Our research reinforced the need for a compassionate, scalable, and culturally aware 
            grief support system tailored specifically to 
            <strong style="color: rgba(77, 82, 77, 0.759);"> college students,</strong>
            especially those from 
            <strong style="color: rgba(77, 82, 77, 0.759);"> immigrant backgrounds </strong> 
            who may face additional barriers in seeking traditional mental health care.
        </p>
    </div>

    <div class="existing-solutions">
        <div class="existing-solutions-title">
            <h1> Existing Solutions </h1>
            <hr>
        </div>

        <div class="seance-ai">
            <img src="images/seanceAI_1.png">
            <div class="seance-ai-text">
                <!-- <h3> Gaps </h3> -->
                <li>
                    No personalized, adaptive responses based on real-time emotional states.
                </li>

                <li>
                    Lacks structured, emotional support.
                </li>

                <li>
                    College students have limited accessibility.
                </li>

                <li>
                    No emotional adaptability or tracking features.
                </li>
            </div>
        </div>
        <!-- <img src="images/seanceAI_2.png"> -->
    </div>

    <div class="research">

        <h1> Research </h1>
        <hr>
        <div class="research-content">
            <p style="margin-top:-5px;"> An anonymous Google Form was created to collect data on individuals' experiences with grief.
                These questions covered emotions, support systems, and resources used during their grieving process.
                The initial primary target demographic was college students and supervisors at UCI workplaces.
                The outcome demographic immigrant/first-gen college students. Interviews helped refine chatbot features.
            </p>
        <img src="images/research_survey.png">
        </div>
    </div>


    <div class="survey-data-collection">
        <h1> Survey Data Collection </h1>
        <hr>
        <div class="data-images">
            <div class="img-row">
                <img src="images/survey_collection/age_group.png">
                <img src="images/survey_collection/chatbot_consider.png">
                <img src="images/survey_collection/em_supp_access.png">
            </div>

            <div class="img-row">
                <img src="images/survey_collection/features_wanted.png">
                <img src="images/survey_collection/first_gen.png">
                <img src="images/survey_collection/grief_support.png">
            </div>
            
            <!-- <div class="img-row">
                <img src="images/survey_collection/first_gen.png">
                <img src="images/survey_collection/grief_support.png">
            </div> -->
        </div>
    </div>

    <div class="findings">
        <h1 style="align-self: center;"> Results </h1>
        <hr>
        <div class="results">
            <div class="survey-findings">
                <h1 style="font-size: 25px;"> Survey Findings </h1>
                <ul>
                    <li>
                        The strongest age group was 18-24 year olds.
                    </li>
                    <li>
                        Our primary audience was found to be first-gen/immigrant students.
                    </li>
                    <li>
                        Most had physical people as emotional support
                    </li>
                    <li>
                        Therapy and books were a main resource
                    </li>
                    <li>
                        Most would use an AI chatbot
                    </li>
                    <li>
                        Guidance and personalized advice for grieving 
                    </li>
                </ul>
            </div>

            <div class="interview-findings">
                <h1 style="font-size: 25px;"> Interview Findings </h1>
                
                <ul>
                    <li>
                        Participants emphasized the importance of personal support networks
                    </li>
                    <li>
                        Emotional validation and guided reflection were key coping strategies
                    </li>
                    <li>
                        Strong demand for privacy and security in grief support tools
                    </li>
                    <li>
                        Personalization was very important to potential users
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




